{% extends "base.html" %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}


{% block content %}
<h1>{{ title }}</h1>

{{ intance.title }} <br/>
{{ intance.content }} <br/>
{{ intance.timestamp }} <br/>
{{ intance.updated }} <br/>
{{ intance.id }} <br/>

</body>
</html>
{% endblock content %}